@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
:root {
  --delay: 0s;
}

* {
  outline: none;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  overflow: hidden;
}

img {
  max-width: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #252954;
  color: #9b9ca7;
  height: 100%;
  overflow: hidden;
}

.wrapper {
  max-width: 1600px;
  background-color: #0e0e23;
  display: flex;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
}

.left-side {
  width: 6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  padding: 117px 0 40px;
  animation: left 1s var(--delay) both;
}
.left-side svg {
  width: 24px;
  cursor: pointer;
}
.left-side svg + svg {
  margin-top: 34px;
}
.left-side svg:last-child {
  margin-top: auto;
}
.left-side svg.active, .left-side svg:hover {
  color: #4255d4;
}

@keyframes left {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes top {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 25px;
  overflow: auto;
  padding-left: 0;
}

.header {
  background: rgb(20, 24, 52);
  background: radial-gradient(circle, rgb(20, 24, 52) 0%, rgb(19, 22, 47) 100%);
  box-shadow: 0 16px 12px #0e0e23;
  width: 100%;
  padding: 0 30px;
  animation: top 1s both;
  display: flex;
  align-items: center;
  border-radius: 6px;
  font-size: 15px;
  white-space: nowrap;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}
.header:before {
  content: "";
  width: 100%;
  height: 25px;
  position: absolute;
  top: -25px;
  left: 0;
  background-color: #0e0e23;
}
.header-link {
  color: #9b9ca7;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 20px;
  transition: 0.3s;
  border-bottom: 3px solid transparent;
  transition: 0.3s;
}
.header-link svg {
  width: 20px;
  margin-right: 14px;
}
.header-link.active, .header-link:hover {
  background: #11132c;
  border-bottom: 3px solid #4255d4;
}

.user-info {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.user-info svg {
  width: 20px;
}
.user-info .profile {
  margin: 0 20px 0 12px;
  width: 18px;
}

.button {
  display: flex;
  align-items: center;
  color: #9b9ca7;
  background: #1a1b3c;
  border: none;
  padding: 2px 12px;
  border-radius: 4px;
  margin-right: 20px;
}
.button svg {
  margin-left: 10px;
  width: 16px;
}

.user-box {
  margin-top: 25px;
  display: flex;
}
.user-box + .user-box {
  margin-top: 20px;
}
.user-box + .user-box .cards-wrapper {
  margin-left: 0;
  flex-grow: 1;
  max-width: none;
}
.user-box + .user-box .today {
  margin-left: 30px;
}
.user-box + .user-box .cards-header {
  padding: 20px 30px;
  justify-content: space-between;
}
.user-box .cards-header,
.user-box .cards-view {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-box .cards-header svg,
.user-box .cards-view svg {
  width: 24px;
}
.user-box .cards-header .title,
.user-box .cards-view .title {
  margin: 0 16px;
  font-size: 15px;
}
.user-box .cards-header-date svg,
.user-box .cards-view-date svg {
  width: 30px;
}
.user-box .cards-header .cards-button,
.user-box .cards-view .cards-button {
  background: #15193c;
  padding: 10px 16px;
  margin-right: 0;
}
.user-box .cards-header .cards-button svg,
.user-box .cards-view .cards-button svg {
  width: 16px;
  margin: 0 2px 0 0;
}
.user-box .cards-header .date-wrapper,
.user-box .cards-view .date-wrapper {
  display: flex;
  align-items: center;
  margin: auto;
}
.user-box .cards-header .date-wrapper .title,
.user-box .cards-view .date-wrapper .title {
  margin: 0 16px;
}

.cards-view > svg {
  margin-right: 12px;
}

.today {
  position: relative;
}
.today:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #ef415c;
  bottom: -8px;
  right: 50%;
  border-radius: 50%;
}

.card {
  background: rgb(26, 32, 73);
  background: radial-gradient(circle, rgb(26, 32, 73) 0%, rgb(19, 22, 47) 100%);
  padding: 40px 30px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  width: 100%;
}
.card .title {
  font-size: 16px;
  font-weight: 500;
}
.card .subtitle {
  font-size: 13px;
  line-height: 1.6em;
}
.card + .card {
  margin-left: 20px;
}

.cards-header {
  background: #10122b;
  border-radius: 6px 6px 0 0;
  padding: 20px 45px;
  font-size: 14px;
  font-weight: 500;
}
.cards-header-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cards-header-date svg {
  color: #4154d1;
  background: #14183c;
  border-radius: 50%;
  padding: 5px;
  width: 30px;
}
.cards-wrapper {
  margin-left: 20px;
  max-width: 305px;
  width: 100%;
}
.cards-hour {
  font-size: 26px;
}
.cards-hour .am-pm {
  font-size: 15px;
  font-weight: 500;
}
.cards.card {
  border-radius: 0 0 6px 6px;
  padding: 30px 20px;
}
.cards.card svg {
  width: 24px;
  margin-left: auto;
  color: #818394;
}
.cards-head {
  display: flex;
  align-items: center;
}

.degree {
  margin-top: 10px;
  font-size: 13px;
  display: flex;
  align-items: center;
  color: #818394;
  font-weight: 500;
}
.degree svg {
  width: 24px;
  margin-right: 12px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  font-size: 13px;
  font-weight: 500;
}
.items.numbers {
  margin-top: 0;
}

.item {
  flex: 0 1 14.2857142857%;
  padding: 10px 5px;
  text-align: center;
}
.item.is-active {
  background: #4255d4;
  border-radius: 50%;
  color: #fff;
}
.item.disable {
  color: #595b5b;
}

.account {
  width: 100%;
  height: 180px;
  margin-top: auto;
  flex-grow: 0;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
  transition: 0.3s;
}
.account:hover {
  transform: scale(1.02);
}
.account-wrapper {
  max-width: 310px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  align-items: center;
}
.account-profile {
  margin: auto;
  position: relative;
  text-align: center;
  position: relative;
}
.account-profile img {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  object-fit: cover;
  object-position: left;
  border: 3px solid #4255d3;
  padding: 5px;
}
.account-profile .blob {
  position: absolute;
  border-radius: 50%;
  animation: fly 5.8s linear infinite alternate;
}
.account-profile .blob:nth-child(1) {
  width: 14px;
  height: 14px;
  top: 25px;
  left: -20px;
  background: #28327a;
  animation-delay: 0.9s;
}
.account-profile .blob:nth-child(2) {
  width: 18px;
  height: 18px;
  background: #87344c;
  right: -20px;
  top: -20px;
  animation-delay: 0.2s;
}
.account-profile .blob:nth-child(3) {
  width: 12px;
  height: 12px;
  background: #13645b;
  right: -35px;
  top: 50%;
  animation-delay: 1.8s;
}
.account-name {
  margin: 20px 0 10px;
}
.account-title {
  font-size: 14px;
}
.account-cash {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 6px;
  padding-top: 16px;
  position: relative;
}
.account-cash:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: #9b9ca7;
  right: 10px;
  border-radius: 50%;
  box-shadow: -10px 0 0 0 #9b9ca7, 10px 0 0 0 #9b9ca7;
  top: 24px;
}
.account-income {
  font-size: 14px;
}
.account-iban {
  margin-top: auto;
  font-weight: 500;
}

.time {
  height: 24px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #9e5924;
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.time.is-wait {
  background: #4255d3;
}

.table .status {
  color: #1aa385;
  display: inline-flex;
  align-items: center;
}
.table .status svg {
  margin-right: 6px;
  width: 22px;
  height: 22px;
  padding: 3px;
  border-radius: 4px;
  background-color: #142940;
  color: currentColor;
}
.table .status.is-red {
  color: #d14b69;
}
.table .status.is-red svg {
  background: #2e2142;
  color: currentcolor;
}
.table .status.is-warning {
  color: #e6a700;
}
.table .status.is-warning svg {
  background: #2e2142;
  color: currentColor;
}
.table .status.is-green {
  color: #1aa385;
}
.table .status.is-green svg {
  background: #2e2142;
  color: currentColor;
}
.table .status.is-wait {
  color: #3E4EC2;
  position: relative;
}
.table .status.is-wait:before {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background: #1a214d;
  border-radius: 4px;
}
.table .status.is-wait svg {
  background-color: transparent;
  color: currentcolor;
  animation: turn 2s linear infinite both;
}

@keyframes turn {
  100% {
    transform: rotate(1turn);
  }
}
.table {
  text-align: left;
  padding: 0;
}
.table th {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 16px;
  padding: 18px 35px;
}
.table th:nth-child(n+5) {
  padding: 0 10px 16px;
}
.table th:first-child {
  padding-left: 36px;
}
.table td {
  font-size: 15px;
  vertical-align: middle;
  padding: 18px 35px;
}
.table td:last-of-type {
  width: 100px;
}
.table td:nth-child(n+5) {
  padding: 0 10px;
}
.table td:nth-last-of-type(2) svg {
  width: 16px;
}
.table input {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #9b9ca7;
  vertical-align: middle;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 16px;
  transition: 0.25s;
  background-size: 0;
  background-position: center;
}
.table input:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' stroke='%23fff' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
  background-color: #252954;
  background-size: 12px;
  background-repeat: no-repeat;
}

@keyframes fly {
  40% {
    transform: translate(-6px, -6px);
  }
  60% {
    transform: translate(-12px, -2px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.first-box {
  display: flex;
  flex-wrap: wrap;
}
.first-box .cards-wrapper {
  flex: 0 0 75%;
  max-width: 75%;
  margin: 20px 0;
}
.first-box .cards-wrapper .item.is-active {
  background: none;
  color: inherit;
}
.first-box .account-wrapper {
  flex: 0 0 25%;
  max-width: 25%;
  margin-left: auto;
}

.second-box {
  flex-wrap: wrap;
}
.second-box .cards-wrapper {
  margin-top: 40px;
  width: 66%;
}

.third-box {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}
.third-box .leak-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.third-box .leak-header h4 {
  margin: 0;
}
.third-box #leak-calculator-content {
  display: flex;
  flex-direction: column;
}
.third-box .leak-tables {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.third-box .leak-tables .table-container {
  width: 100%;
  margin-bottom: 20px;
}
.third-box .calculate-button {
  align-self: flex-start;
  margin-bottom: 20px;
}
.third-box .table-container.card {
  width: 100%;
}
.third-box .card {
  background: rgb(26, 32, 73);
  background: radial-gradient(circle, rgb(26, 32, 73) 0%, rgb(19, 22, 47) 100%);
  padding: 40px 30px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  width: 100%;
  color: #fff;
}
.third-box .card .title {
  font-size: 16px;
  font-weight: 500;
}
.third-box .card .subtitle {
  font-size: 13px;
  line-height: 1.6em;
}
.third-box .card + .third-box .card {
  margin-left: 20px;
}

@media screen and (max-width: 1500px) {
  .wrapper {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1200px) {
  .time {
    display: none;
  }
}
@media screen and (max-width: 1060px) {
  .user-info .button,
  .user-info .hour {
    display: none;
  }
}
@media screen and (max-width: 1020px) {
  .user-box .cards-view {
    display: none;
  }
  .user-box .cards-header .cards-button {
    display: none;
  }
  .cards-header-date {
    margin: auto;
  }
}
@media screen and (max-width: 930px) {
  .second-box .cards-wrapper {
    width: 100%;
  }
  .header-link {
    display: none;
  }
  .user-info .profile {
    margin-right: 0;
  }
}
@media screen and (max-width: 850px) {
  .activity-card,
  .left-side {
    display: none;
  }
  .main-container {
    padding-left: 25px;
  }
}
@media screen and (max-width: 720px) {
  .first-box .cards-wrapper,
  .first-box .account-wrapper {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .second-box .cards.card {
    overflow-y: auto;
  }
  .third-box .card {
    padding: 20px;
  }
  .third-box .table-title {
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
